{% load widget_tweaks %}
<h1 class="mt-8 mb-4 prose prose-2xl text-white font-bold">Create Transaction</h1>
<form hx-post="{% url 'tracker:transaction_create' %}">
    <div class="mb-2 form-control">
        {{ form.type|add_label_class:"label text-white" }}
        {% render_field form.type class="input bg-gray-50 text-gray-900" %}
    </div>
    <div class="mb-2 form-control">
        {{ form.amount|add_label_class:"label text-white" }}
        {% render_field form.amount class="input bg-gray-50 text-gray-900" %}
        {% for error in form.amount.errors %}<p class="text-red-400 mt-1">&nbsp;&nbsp;*{{ error }}</p>{% endfor %}
    </div>
    <div class="mb-2 form-control">
        {{ form.date|add_label_class:"label text-white" }}
        {% render_field form.date class="input bg-gray-50 text-gray-900" %}
    </div>
    <div class="mb-4 form-control">
        {{ form.category|add_label_class:"label text-white" }}
        {% render_field form.category class="bg-gray-50 text-gray-900" id="category-single-select" %}
    </div>
    <button class="btn btn-success">Add</button>
    <button class="btn btn-error"
            hx-get="{% url "tracker:transactions_list" %}"
            hx-target="#transaction-block"
            hx-push-url="{% url "tracker:transactions_list" %}">Cancel</button>
</form>
{% block styles %}
    <style>
        .choices__item--choice {
            color: rgb(17 24 39 / var(--tw-text-opacity, 1));
        }

        .choices__input {
            color: rgb(17 24 39 / var(--tw-text-opacity, 1));
        }

        .choices__item--selectable {
            color: rgb(17 24 39 / var(--tw-text-opacity, 1));
        }

        .choices__item--selectable.is-highlighted {
            color: rgb(34 197 94 / var(--tw-text-opacity, 1));
        }
    </style>
{% endblock styles %}
{% block scripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const categorySelect = document.querySelector('#category-single-select');
            if (categorySelect) {
                new Choices(categorySelect, {
                    removeItemButton: true,
                    placeholder: true,
                    placeholderValue: 'Select category...',
                    searchPlaceholderValue: 'Search category...',
                    singleModeForMultiSelect: true,
                });
            }
        });

        document.body.addEventListener('htmx:afterSwap', function(event) {
            const categorySelect = document.querySelector('#category-single-select');
            if (categorySelect) {
                new Choices(categorySelect, {
                    removeItemButton: true,
                    placeholder: true,
                    placeholderValue: 'Select category...',
                    searchPlaceholderValue: 'Search category...',
                    singleModeForMultiSelect: true,
                });
            }
        });
    </script>
{% endblock scripts %}
