{% load widget_tweaks %}
{% load humanize %}
<div class="flex flex-col-reverse md:grid md:grid-cols-4 md:gap-4 min-h-screen overflow-y-hidden"
     id="transaction-container">
    <div class="col-span-3">
        <div class="my-4">
            <h1 class="mt-4 mb-4 prose prose-2xl text-white font-semibold">Totals</h1>
            <table class="table">
                <thead class="text-sm text-white uppercase">
                    <tr>
                        <th class="px-2 md:px-4">Total Income</th>
                        <th class="px-2 md:px-4">Total Expense</th>
                        <th class="px-2 md:px-4">Net Income</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="px-2 md:px-4">${{ total_income|floatformat:2|intcomma }}</td>
                        <td class="px-2 md:px-4">${{ total_expense|floatformat:2|intcomma }}</td>
                        <td class="px-2 md:px-4">${{ net_income|floatformat:2|intcomma }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="flex justify-between items-center mt-5 mb-6">
            <h1 class="mt-8 mb-4 prose prose-2xl text-white font-semibold">Transactions</h1>
            <a hx-get="{% url "tracker:transaction_create" %}"
               hx-push-url="true"
               hx-target="#transaction-block"
               class="cursor-pointer">
                <svg xmlns="http://www.w3.org/2000/svg"
                     fill="green"
                     viewBox="0 0 24 24"
                     stroke-width="1.5"
                     stroke="currentColor"
                     class="h-8 w-8">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                </svg>
            </a>
        </div>
        {% if filter.qs %}
            <table class="table">
                <thead class="text-sm text-white uppercase">
                    <tr>
                        <th class="px-3 md:px-6 py-3">Date</th>
                        <th class="px-3 md:px-6 py-3">Category</th>
                        <th class="px-3 md:px-6 py-3">Type</th>
                        <th class="px-3 md:px-6 py-3">Amount</th>
                    </tr>
                </thead>
                <tbody>
                    {% for transaction in filter.qs %}
                        <tr>
                            <td class="px-3 md:px-6 py-4">{{ transaction.date }}</td>
                            <td class="px-3 md:px-6 py-4">{{ transaction.category }}</td>
                            <td class="px-3 md:px-6 py-4">{{ transaction.type }}</td>
                            <td class="px-3 md:px-6 py-4">${{ transaction.amount|intcomma }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="text-xl text-white">No transactions found!</p>
        {% endif %}
    </div>
    <div class="col-span-1">
        <form hx-get="{% url "tracker:transactions_list" %}"
              hx-target="#transaction-container"
              hx-swap="outerHTML">
            <div class="mb-2 form-control">
                {{ filter.form.transaction_type|add_label_class:"label text-white" }}
                {% render_field filter.form.transaction_type class="select bg-gray-50 text-gray-900" %}
            </div>
            <div class="mb-2 form-control">
                {{ filter.form.start_date|add_label_class:"label text-white" }}
                {% render_field filter.form.start_date class="input bg-gray-50 text-gray-900" %}
            </div>
            <div class="mb-2 form-control">
                {{ filter.form.end_date|add_label_class:"label text-white" }}
                {% render_field filter.form.end_date class="input bg-gray-50 text-gray-900" %}
            </div>
            <div class="mb-4 form-control overflow-visible">
                {{ filter.form.category|add_label_class:"label text-white" }}
                {% render_field filter.form.category class="bg-gray-50 text-gray-900" id="category-multi-select" %}
            </div>
            <button class="btn btn-success">Filter</button>
        </form>
    </div>
</div>
{% block styles %}
    <style>
        .choices__item--choice {
            color: rgb(17 24 39 / var(--tw-text-opacity, 1));
        }

        .choices__input {
            color: rgb(17 24 39 / var(--tw-text-opacity, 1));
        }

        .choices__item--selectable {
            color: rgb(17 24 39 / var(--tw-text-opacity, 1));
        }

        .choices__item--selectable.is-highlighted {
            color: rgb(34 197 94 / var(--tw-text-opacity, 1));
        }
    </style>
{% endblock styles %}
{% block scripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const categorySelect = document.querySelector('#category-multi-select');
            if (categorySelect) {
                new Choices(categorySelect, {
                    removeItemButton: true,
                    duplicateItemsAllowed: false,
                    delimiter: ',',
                    maxItemCount: 5,
                    placeholder: true,
                    placeholderValue: 'Select categories...',
                    searchPlaceholderValue: 'Search categories...',
                    itemSelectText: '',
                });
            }
        });

        document.body.addEventListener('htmx:afterSwap', function(event) {
            const categorySelect = document.querySelector('#category-multi-select');
            if (categorySelect) {
                new Choices(categorySelect, {
                    removeItemButton: true,
                    duplicateItemsAllowed: false,
                    delimiter: ',',
                    maxItemCount: 5,
                    placeholder: true,
                    placeholderValue: 'Select categories...',
                    searchPlaceholderValue: 'Search categories...',
                    itemSelectText: '',
                });
            }
        });
    </script>
{% endblock scripts %}
