{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}
                Personal Finance Tracker
            {% endblock title %}
        </title>
        <meta name="description"
              content="A simple finance tracker app built with Django and HTMX, enabling seamless tracking and management of personal finances with dynamic interactions. Lightweight, intuitive, and efficient for everyday use.">
        <meta name="keywords"
              content="finance, tracker, personal finance, budgeting, expenses, django, htmx, tailwindcss">
        <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.22/dist/full.min.css"
              rel="stylesheet"
              type="text/css" />
        <link rel="stylesheet" href="{% static "css/project.css" %}">
        {% block styles %}
        {% endblock styles %}
        <script src="{% static "js/htmx/htmx.min.js" %}"></script>
        <script src="https://cdn.tailwindcss.com?plugins=typography"></script>
        <script src="https://cdn.plot.ly/plotly-2.35.2.min.js" charset="utf-8"></script>
        <script src="{% static "js/project.js" %}"></script>
        {% block scripts %}
        {% endblock scripts %}
        {% block head %}
        {% endblock head %}
    </head>
    <body class="min-h-screen text-white">
        {% include "components/navbar.html" %}
        <div class="max-w-screen-lg min-h-full mx-auto p-4">
            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>
