{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}
                Personal Finance Tracker
            {% endblock title %}
        </title>
        <meta name="description"
              content="A simple finance tracker app built with Django and HTMX, enabling seamless tracking and management of personal finances with dynamic interactions. Lightweight, intuitive, and efficient for everyday use.">
        <meta name="keywords"
              content="finance, tracker, personal finance, budgeting, expenses, django, htmx, tailwindcss">
        <script src="https://unpkg.com/htmx.org@2.0.4"
                integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
                crossorigin="anonymous"></script>
        <script src="https://cdn.tailwindcss.com?plugins=typography"></script>
        <link rel="stylesheet" href="{% static 'css/project.css' %}" />
        {% block styles %}
        {% endblock styles %}
        <script src="{% static 'js/project.js' %}"></script>
        {% block scripts %}
        {% endblock scripts %}
        {% block head %}
        {% endblock head %}
    </head>
    <body class="min-h-screen text-white bg-gray-900">
        {% include "components/navbar.html" %}
        <div class="max-w-screen-lg min-h-full mx-auto p-4">
            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>
